.card-container{
    width:auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 40px;

    
        .card-description {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: base;
            justify-content: space-between;
            align-items: center;
            background-color: #222223;
            padding: 10px;
            border-radius: 10px;

            .card-content{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            
                .card-header{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 16px;
                    .card-icon-default{
                        font-size: 1.8rem;

            
                        &.cases{
                            color:#a4ff00a1;
                            padding-top:4px;
                        }
            
                        &.deaths{
                            color:#ff272796;
                           
                        }
                        &.recovered{
                            color:#20e30d8f;
                            padding-top:5px;
                        }
                    }
            
                    .card-title{
                        margin-left: 8px;
                        color: white;
                    }

                }
            }
        }
        
        .deafult-total-style{
            color: white;
        }

    }
    





